{ pkgs, inputs, ... }: {

  # System-wide packages for all users
  environment.systemPackages = with pkgs; [
{% for pkg in nix_darwin_packages %}
    {{ pkg }}
{% endfor %}
  ];

  # Without explicitly setting this, nix-darwin will auto-assign a random UID to the nixbld group
  ids.uids.nixbld = {{ nix_first_build_uid - 1 }};

  environment.pathsToLink = [ "/lib" ];

  determinateNix = {
    enable = true;
    customSettings = {
{% for key, value in (nix_settings | combine(nix_extra_settings)) | dictsort %}
      {{ key }} = "{{ value }}";
{% endfor %}
      # Cannot be injected via include into nix.custom.conf since nix-darwin manages it.
      access-tokens = "{% for host, token in nix_access_tokens.items() %}{{ host }}={{ token }} {% endfor %}";
    };
    determinateNixd.telemetry.sentry.endpoint = null;
  };

  programs.zsh = {
    enable = true;
    enableCompletion = false;
  };
  programs.bash.enable = true;
  nixpkgs.hostPlatform = "aarch64-darwin";

  system.primaryUser = "{{ nix_user }}";
  system.stateVersion = 5;
}
