{
  description = "System Nix Darwin Configuration";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/{{ nix_pkgs_rev }}";
    nix-darwin.url = "github:LnL7/nix-darwin/{{ nix_darwin_rev }}";
    nix-darwin.inputs.nixpkgs.follows = "nixpkgs";
  };

  outputs = inputs@{ self, nix-darwin, nixpkgs }: {
    darwinConfigurations."{{ ansible_hostname }}" = nix-darwin.lib.darwinSystem {
      modules = [
        ./configuration.nix
        {
          nixpkgs.overlays = [
            (final: prev: {
              {% for pkg in nix_packages_no_check %}
              {{ pkg }} = prev.{{ pkg }}.overrideAttrs (_: { doCheck = false; });
              {% endfor %}
            })
          ];
        }
      ];
    };
  };
}